name: CI
on:
  pull_request:
    branches: [main]
jobs:
  test-core:
    name: Test Core
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: SingleStepTests/65x02
          path: ch22-core/tests/single_step_tests_65x02
          sparse-checkout: 6502
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
      - name: Install Rust toolchain
        run: |
          rustup update --no-self-update
      - name: Run tests
        run: npm run test-core
  test-render:
    name: Test Render
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright browsers
        run: npx playwright install --with-deps chromium
      - name: Run check
        run: npm run checks
      - name: Run tests
        run: npm run test-render
      - name: Upload Playwright report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: render/tests/playwright-report/
          retention-days: 7
